@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.btnclr {
  background-color: #ff6a1a;
}
.textclr {
  color: #ff6a1a;
}

.bgimageadjust {
  background-image: url("/images/bg.png"), url("/images/bg2.png");
  background-position: right, left center;
  background-repeat: no-repeat, no-repeat;
  background-size: 30% 100%, 70% 100%;
  background-color: #749b3f;
}
/* .offerbg {
  position: relative;
  color: black; /* Ensure text color is visible */
*/ .offerbg {
  background-image: url("/images/bg2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* -webkit-mask-image: url("/icons/bg.svg"), url("/icons/bg2.svg");
  mask-image: url("/icons/bg.svg"), url("/icons/bg2.svg");

  -webkit-mask-size: auto;
  mask-size: auto;

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-position: left bottom, right top;
  mask-position: left bottom, right top;

  z-index: -1; */
}

.testbg {
  background-image: url("/images/test.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
/* header.scrolled {
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  background-color: rgba(255, 255, 255, 0.3);
} */
